<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>github.com.kuxuxun.log_mac_sleep</string>
        <key>Disabled</key>
        <false/>
        <key>ProgramArguments</key>
        <array>
          <string>/path/to/log_mac_sleep</string>
          <string>-watch</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
</dict>
</plist>
